node_modules
.nuxt
.output
.nitro
.cache
.data
dist

clp/node_modules
clp/.nuxt
clp/.output
clp/.nitro
clp/.cache
clp/.data
clp/dist

.git

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
